doctype html
html(lang='en')
  head
    include ./includes/head.jade
    script(type='text/javascript', src='assets/js/noty/packaged/jquery.noty.packaged.min.js')
  body
    // navbar
    #navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='home')
            span.glyphicon.glyphicon-leaf
          a.navbar-brand(href='public/#{user._id}')
            | #{user.username}
        .navbar-collapse.collapse
          .col-sm-9.col-md-7.pull-left
            form.navbar-form(role='search', action='/search', method='post', enctype='plain')
              .input-group
                input.form-control(type='text', placeholder='Search (profile, tweet, location, etc...)', name='research')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search
          .col-sm-3.col-md-3.pull-left
            ul.nav.navbar-nav
              li
                a(title='Home', href='/home')
                  span.glyphicon.glyphicon-home
              li
                a(title='Messages', href='/message')
                  span.glyphicon.glyphicon-envelope
              li
                a(title='Profile', href='/profile')
                  span.glyphicon.glyphicon-cog
              li
                a(title='Logout', href='/signout')
                  span.glyphicon.glyphicon-off
    br
    br
    br

    .container
      .row
        .col-md-3.hidden-xs
          img.img-responsive(src='assets/img/bird1.png', alt='bird')
        br
        br
        br
        br
        .col-md-6
          ul.list-inline.center
            li
              a(title='Add location', href='#', onClick="addLocation()")
                a.alert(title='Add location', href='#', onClick="addLocation()")
                  span.glyphicon.glyphicon-map-marker
          form(role='form', name='form', action='/home', method='post', enctype='plain')
            .form-group
              input.form-control(type='hidden', name='latitude', value='')
              input.form-control(type='hidden', name='longitude', value='')
              input.form-control(cols='89', rows='2',type='text', name='Tweet', placeholder='What did you see ?')
              button.btn.btn-default.pull-right(style='margin-top:2px;', type='submit') Send

    .container
      -nb= tweet.length
      -var i=0
      while i < nb
        .container
          .row
            .col-md-6.col-md-offset-3.boxtweets
              .tweethead
                if tweet[i].id == user._id
                  form(role='form', action='/deletetweet', method='post', enctype='plain')
                    .form-group
                      input.form-control(type='hidden', name='idtweet', value='#{tweet[i]._id}')
                      button.glyphicon.glyphicon-remove-circle(type='submit', style='float:right; color:red; border: none; background: none; margin: 0px;')
                a.nickname(href="public/#{tweet[i].id}") #{tweet[i].nickname}
              .bodytweet
                span=tweet[i].tweet
              #footertweet
                p #{tweet[i].date}  #{tweet[i].location}
          br
          -i=i+1



      -i=i+10;
      if (i%10==0 && i!=10)
        .container
          .row
            .col-md-7
              form(role='form', action='/affichetweet', method='post', enctype='plain')
                .form-group
                  input.form-control(type='hidden', name='nbtweet', value="#{i}")
                  button.btn.btn-default.pull-right(type='submit') More Tweets

      if suppression
        script.
          $.noty.defaults.killer = true;
            noty({
               text: 'Your tweet has been deleted',
               layout: 'bottom',
               closeWith: ['click', 'hover'],
               type: 'success'
            });

  script(src='scripts.js')

  script(src='assets/js/bootstrap.js')
