doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Mini Twitter Projet ProgWeb L1 S2 2015')
    link(rel='shortcut icon', href='assets/ico/favicon.png')
    title Twitchers
    script(src='assets/js/jquery.min.js')
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    // Custoyles.username._id
    link(href='assets/css/style.css', rel='stylesheet')
  body
    // navbar
    #navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='home')
            span.glyphicon.glyphicon-leaf
          a.navbar-brand(href='public/#{user._id}')
            | #{user.username}
        .navbar-collapse.collapse
          .col-sm-9.col-md-7.pull-left
            form.navbar-form(role='search', action='/search', method='post', enctype='plain')
              .input-group
                input.form-control(type='text', placeholder='Search (profile, tweet, etc...)', name='research')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search
          .col-sm-3.col-md-3.pull-left
            ul.nav.navbar-nav
              li
                a(title='Home', href='/home')
                  span.glyphicon.glyphicon-home
              li
                a(title='Messages', href='/message')
                  span.glyphicon.glyphicon-envelope
              li
                a(title=' modify profile', href='/profile')
                  span.glyphicon.glyphicon-cog
              li
                a(title='LogOut', href='/signout')
                  span.glyphicon.glyphicon-off
    br
    br
    br

    .container
      .row
        .col-md-3.hidden-xs
          img.img-responsive(src='assets/img/bird1.png', alt='bird')
        br
        br
        br
        br
        .col-md-6
          ul.list-inline.center
            li
              a(title='Add picture')
                span.glyphicon.glyphicon-picture
            li
              a(title='Add location', href='#', onClick="addLocation()")
                a.alert(title='Add location', href='#', onClick="addLocation()")
                  span.glyphicon.glyphicon-map-marker
            li
              a(title='Add photo album')
                span.glyphicon.glyphicon-folder-open
          form(role='form', name='form', action='/home', method='post', enctype='plain')
            .form-group
              input.form-control(type='hidden', name='latitude', value='')
              input.form-control(type='hidden', name='longitude', value='')
              input.form-control(cols='89', rows='2',type='text', name='Tweet', placeholder='What did you see ?')
              button.btn.btn-default.pull-right(style='margin-top:2px;', type='submit') Send

    .container
      script.
        i=0;
        var tweets= !{JSON.stringify(tweet)};
        var user= !{JSON.stringify(user)};
        while (tweets[i].nickname != "undefined")
        {
          document.write('<div class="container">');
          document.write('<div class="row">');
          document.write('<div class="col-md-6 col-md-offset-3 boxtweets">')
          document.write('<div class="tweethead">');

          if (tweets[i].id == user._id)
          {
            document.write('<form role="form" action="/deletetweet" method="post" enctype="plain">');
            document.write('<div class="form-group">');
            document.write('<input type="hidden" name="idtweet" class="form-control" value="' + tweets[i]._id + '">');
            document.write('<button type="submit" class="glyphicon glyphicon-remove-circle" style="float:right; color:red; border: none; background: none; margin: 0px;"></button>');
            document.write('</div>');
            document.write('</form>');
          }

          document.write('<p class="nickname"><strong>&nbsp' + tweets[i].nickname + '</strong></p></div>');
          document.write('<div class="bodytweet">'+tweets[i].tweet+'</div>');
          document.write('<div id="footertweet"><p>'+tweets[i].date+tweets[i].location+'</p>');

          document.write('</div>');
          document.write('</div>');
          document.write('</div>');
          document.write('</div>');
          document.write('<br/>');
          i++;
        }
      script.
        var i=i+10;
        if(i%10==0 && i!=10)
        {
          document.write('<div class="container">');
          document.write('<div class="row">');
          document.write('<div class="col-md-7">');
          document.write('<form role="form" action="/affichetweet" method="post" enctype="plain">');
          document.write('<div class="form-group">');
          document.write('<input type="hidden" name="nbtweet" class="form-control" value="' + i + '">');
          document.write('<button type="submit" class="btn btn-default pull-right">More Tweets</button>');
          document.write('</div>');
          document.write('</form>');
          document.write('</div>');
          document.write('</div>');
          document.write('</div>');
        }



    br
  script(src='scripts.js')

  // bootbox code
  script(src='assets/js/bootbox.min.js')
  script.
   $(document).on("click", ".alert", function(e) {
   bootbox.alert("Congratulation ! Your location has been successfully loaded !", function() {
   console.log("Alert Callback");
   });
   });

  // Bootstrap core JavaScript
  script(src='assets/js/bootstrap.js')
