doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Mini Twitter Projet ProgWeb L1 S2 2015')
    link(rel='shortcut icon', href='../assets/ico/favicon.png')
    title Twitchers - #{user.username} (profil)
    script(src='../assets/js/jquery.min.js')
    // Bootstrap core CSS
    link(href='../assets/css/bootstrap.css', rel='stylesheet')
    // Custom styles
    link(href='../assets/css/style.css', rel='stylesheet')
  body
    // navbar
    #navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/home')
            span.glyphicon.glyphicon-leaf
          a.navbar-brand(href='../public/#{user._id}')
            | #{user.username}
        .navbar-collapse.collapse
          .col-sm-9.col-md-7.pull-left
            form.navbar-form(role='search', action='/search', method='post', enctype='plain')
              .input-group
                input.form-control(type='text', placeholder='Search (profile, tweet, location, etc...)', name='research')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search
          .col-sm-3.col-md-3.pull-left
            ul.nav.navbar-nav
              li
                a(title='Home', href='/home')
                  span.glyphicon.glyphicon-home
              li
                a(title='Messages', href='/message')
                  span.glyphicon.glyphicon-envelope
              li
                a(title=' modify profile', href='/profile')
                  span.glyphicon.glyphicon-cog
              li
                a(title='LogOut', href='/signout')
                  span.glyphicon.glyphicon-off
    br
    br
    br
    br
    .container
      .row
        .col-md-12
          .col-md-6
            h1  #{rUser.username}
            hr
          .col-md-6
            img.img-responsive.img-rounded(src='../uploads/pictures/#{rUser.picture}', alt='profilepic')
        .col-md-6
          p
            |Email:
            br
            |#{rUser.email}
            br
            br
            |Sexe: #{rUser.sexe}
            br
            br
            |Country: #{rUser.pays}
            br
            br
            |Description :
            br
            |#{rUser.description}
            br
            br


            -var i=0
            while i < nb
              .container
                .row
                  .col-md-10.boxtweets
                    .tweethead
                      if tweet[i].id == user._id
                        form(role='form', action='/deletetweetp', method='post', enctype='plain')
                          .form-group
                            input.form-control(type='hidden', name='idtweet', value='#{tweet[i]._id}')
                            button.glyphicon.glyphicon-remove-circle(type='submit', style='float:right; color:red; border: none; background: none; margin: 0px;')
                      a.nickname(href="public/#{tweet[i].id}") #{tweet[i].nickname}
                    .bodytweet
                      span=tweet[i].tweet
                    #footertweet
                      p #{tweet[i].date}  #{tweet[i].location}
                br
                -i=i+1



            -i=i+10;
            if (i%10==0 && i!=10)
              .container
                .row
                  .col-md-7
                    form(role='form', action='/affichetweet', method='post', enctype='plain')
                      .form-group
                        input.form-control(type='hidden', name='nbtweet', value="#{i}")
                        button.btn.btn-default.pull-right(type='submit') More Tweets

    script(src='../assets/js/bootstrap.js')
